<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
  </configSections>-->
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\PrintLog/ServerLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="-1"/>
      <maximumFileSize value="50GB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="DX_QMS.Properties.Settings.BarCodeNewConnectionString"
      connectionString="Data Source=192.168.0.176;Initial Catalog=BarCodeNew;Persist Security Info=True;User ID=sa;Password=The0more7people0you7love3the7weaker8you8are"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerPathLabel" value="10.100.0.35\SYSLabel$"/>
    <add key="ServerPath" value="10.100.0.35\SysTestReport$"/>
    <add key="ServerFilePath" value="192.168.0.204\FilePath$"/>
    <add key="ServerFilePathRev" value="192.168.0.204\BoxPath$"/>
    <add key="ServerFilePathRohs" value="10.100.0.150\ROHS$"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="connectionString" value="jUkXTthI0OWvqKz84u29ZMoEFv03JuLDfK7PWG68nhebzlv9lmiyWp76oKxjSRqsoOtciSdErKiMjvbvYccSg+vd329opErW9fQZ/azn1zJKB7WuUguWdA=="/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
